*{
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 10% auto;
}
.container input {
    border: 1px solid gray;
    padding: 6px 8px;
    width: 200px;
    margin: 5px auto;
}
.container div {
    width: min-content;
}
.container button {
    display: block;
    width: 200px;
    border: none;
    background: green;
    padding: 8px 10px;

}
.container button:hover {
    background: lightgreen;
    color: red;
    cursor: pointer;
}
.list-container {
    display: flex;
    flex-wrap: wrap;
}
.list-container h2 {
    text-align: center;
    background: lightgray;
    margin: 0px;
    padding: 0;
    width: 100%;
}
.list-container div {
    width: 300px;

}
.taskDiv {
    display: flex;
}
.taskDiv button {
    width:40px;
}
.taskTime {
    width: 70px;
}
.taskText {
    width: 150px;
}